ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    background-color: #f9f9f9;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  }
  
  ul li span {
    font-weight: 500;
    color: #666;
  }
  
  ul li button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  ul li button:hover {
    background-color: #f16170;
  }
  
  .button-edit {
    background-color: green;
  }

  .button-edit:hover {
    background-color: rgb(10, 163, 10);
  }